.SignUp_holder {
  height: 100%;
  border: 1px solid blue
}

.singup_form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
}

.singup_form > label {
  margin-left: 5px;
}

.singup_form input {
  height: 30px;
  border-radius: 10px;
  border-color: transparent;
  background-color: rgba(0, 128, 128, 0.397);
  color: darkolivegreen;
  outline: none;
  padding: 5px 0px 5px 10px;
  box-sizing: border-box;
}

.singup_form .submit_btn {
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  background-color: teal;
  font-weight: 800;
  cursor: pointer;
}
